BuildingEscape/Content/StarterContent/
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
*.VC.db
*.suo
BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/HDRI
